{% load static from staticfiles %}
<!DOCTYPE html>
<html lang="en">

  <head>
    {% block meta %}
      <meta charset="utf-8">
      <meta name="viewport"
      content="width=device-width, initial-scale=1.0">
    {% endblock meta %}

    {% block styles %}
      <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
      <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
      <link href="{% static "trades/css/main.css" %}" rel="stylesheet">
      <link href="https://fonts.googleapis.com/css?family=Russo+One" rel="stylesheet">
    {% endblock styles %}
    <title> {% block title %}Title{% endblock title %} </title>
  </head>

  <body>
    <div class="page-header title-font">
      <h1><a href="/">LSL Trader</a></h1>
      <p class="title-font"> {{ user.username }} </p>
    </div>
    <div id="page-content">
      {% block page-content %}
      {% endblock page-content %}
    </div>
    <div id="footer">
      {% block footer %}
      {% endblock footer %}
    </div>
  </body>
</html>
