
{% load static from staticfiles %}
<!DOCTYPE html>
<html lang="en">

  <head>
    {% block meta %}
      <meta charset="utf-8">
      <meta name="viewport"
      content="width=device-width, initial-scale=1.0">
    {% endblock meta %}

    {% block styles %}
      <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
      <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
      <link href="{% static "trades/css/main.css" %}" rel="stylesheet">
      <link href="https://fonts.googleapis.com/css?family=Russo+One" rel="stylesheet">
    {% endblock styles %}

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.0/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>

    <script src="https://code.highcharts.com/stock/highstock.js"></script>
    <script src="https://code.highcharts.com/stock/modules/exporting.js"></script>
    <title> {% block title %}Title{% endblock title %} </title>
  </head>

  <body class="top-bottom-strip">

    <nav class="navbar navbar-expand-sm bg-dark navbar-dark">
      <h1><a href="/"><span class="just-color">Just</span><span class="invest-color">Invest</span></a></h1>

      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="collapsibleNavbar">
        <ul class="navbar-nav">
          {% if user.is_authenticated %}
          <li class="nav-item">
            <a class="nav-link" href="{% url "home" %}">Portfolio</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url "trades" %}">Trades</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url "logout" %}">Logout</a>
          </li>
          {% else %}
          {% endif %}
          <li class="nav-item">
            <a class="nav-link" href="{% url "admin:index" %}">Admin</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href=""> Logged as: {{ user.username }}</a>
          </li>
        </ul>
      </div>
    </nav>

    <div id="page-content">
      {% block page-content %}
      {% endblock page-content %}
    </div>
    {% block footer %}
    {% endblock footer %}
  </body>
</html>
