{% load static from staticfiles %}
<!DOCTYPE html>
<html lang="en">

  <head>
    {% block meta %}
      <meta charset="utf-8">
      <meta name="viewport"
      content="width=device-width, initial-scale=1.0">
    {% endblock meta %}

    {% block styles %}
      <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
      <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
      <link href="{% static "trades/css/main.css" %}" rel="stylesheet">
      <link href="https://fonts.googleapis.com/css?family=Russo+One" rel="stylesheet">
    {% endblock styles %}
    <script src="https://code.highcharts.com/highcharts.js"></script>
    <title> {% block title %}Title{% endblock title %} </title>
  </head>

  <body class="top-bottom-strip">
    <div class="page-header title-font top-bottom-strip">
      <h1><a href="/"><span class="lsl-color">LSL</span><span class="trader-color">Trader</span></a></h1>
    </div>
    <div id="page-content">
      {% if user.is_authenticated %}
        <p id="username-logout" class="title-font"> {{ user.username }} |
        <a href="{% url "logout" %}">Logout</a> |
        <a href="{% url "admin:index" %}">Admin</a>
      {% else %}
        <p id="username-logout" class="title-font"> <a href="{% url "admin:index" %}">Admin</a></p>
      {% endif %}
      </p>
      {% block page-content %}
      {% endblock page-content %}
    </div>
    {% block footer %}
    {% endblock footer %}
  </body>
</html>
