{% extends "trades/base.html" %}
{% block title%} Trades {% endblock title %}
  {% block page-content %}
  {% if trades %}
    <h2>Your trades ({{ trades|length }})</h2>
    <div><a href="{% url "create" %}">Create new trade</a></div>
    <table class="table table-dark">
      <thead>
        <tr>
          <th>Ticker</th>
          <th>Currency</th>
          <th>Purchase date</th>
          <th>Sell date</th>
          <th>Nb of shares</th>
          <th>Price paid</th>
          <th>Current price</th>
          <th>Total value</th>
        </tr>
      </thead>
      <tbody>
        {% for trade in trades %}
          <tr class="trades-list {% cycle 'light-gray' 'white' %}">
            <td><code class="code">{{ trade.ticker }}</code></td>
            <td>{{ trade.currency }}</td>
            <td>{{ trade.purchase_date }}</td>
            <td>{{ trade.sell_date }}</td>
            <td>{{ trade.number_of_shares }}</td>
            <td>{{ trade.price_paid }}</td>
            <th>{{ trade.get_current_price_str }}</th>
            <th>{{ trade.total_value }}</th>
          </tr>
        {% endfor %}
      </tbody>
    </table>
  {% else %}
    <h1>You have no trade</h1>
    <div><a href="{% url "create" %}">Create new trade</a></div>
  {% endif %}
{% endblock page-content %}
{% block footer %}
  {% include "trades/footer.html" %}
{% endblock footer %}
