{% extends "trades/base.html" %}
{% block title%} Trades {% endblock title %}
  {% block page-content %}
    <div><a href="{% url "home" %}">Portfolio</a> > <a href="{% url "trades" %}">Trades</a> </div>
  {% if trades %}
    <h2>Your trades ({{ trades|length }})</h2>
    <div><a href="{% url "create" %}">+ Create a new trade</a></div><br>
    <table class="table table-dark">
      <thead>
        <tr>
          <th>Ticker</th>
          <th>Name</th>
          <th>Nb of shares</th>
          <th>Purchase date</th>
          <th>Sell date</th>
          <th>Currency</th>
          <th class='right-align'>Price paid</th>
          <th class='right-align'>Current price</th>
          <th class='right-align'>Total value</th>
        </tr>
      </thead>
      <tbody>
        {% for trade in trades %}
          <tr class="trades-list {% cycle 'light-gray' 'white' %}">
            <td><code class="code">{{ trade.ticker }}</code></td>
            <td>{{ trade.name }}</td>
            <td>{{ trade.number_of_shares }}</td>
            <td>{{ trade.purchase_date }}</td>
            <td>{{ trade.sell_date }}</td>
            <td>{{ trade.currency }}</td>
            <td class='right-align'>{{ trade.price_paid }}</td>
            <td class='right-align'>{{ trade.get_current_price_str }}</td>
            <td class='right-align'>{{ trade.get_total_value_str }}</td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
  {% else %}
    <h1>You have no trade</h1>
    <div><a href="{% url "create" %}">Create new trade</a></div>
  {% endif %}
  <br>
{% endblock page-content %}
{% block footer %}
  {% include "trades/footer.html" %}
{% endblock footer %}
