{% extends "trades/base.html" %}
{% block title%}JustInvest{% endblock title %}
  {% block page-content %}
  {% if trades %}
    <h2>Trades ({{ trades|length }})</h2>
    <div>
      <a class="btn btn-primary btn-sm" href="{% url "create" %}" role="button">Enter a new trade</a>
    </div>
    <br>
    <table class="table table-dark">
      <thead>
        <tr>
          <th>Ticker</th>
          <th class='hide-when-small'>Name</th>
          <th class='hide-when-small'>Asset class</th>
          <th class='hide-when-small'>Nb of shares</th>
          <th class='hide-when-small'>Date</th>
          <th>Action</th>
          <th class='hide-when-small right-align'>Price paid per share</th>
          <th class='right-align'>Current price</th>
          <th class='hide-when-small right-align'>Total value</th>
          <th class='hide-when-small'>Currency</th>
          <th class='hide-when-small'></th>
        </tr>
      </thead>
      <tbody>
        {% for trade in trades %}
          <tr class="trades-list {% cycle 'light-gray' 'white' %}">
            <td><a href="/trades/{{ trade.id }}" class="badge badge-light">{{ trade.ticker }}</a></td>
            <td class='hide-when-small'>{{ trade.name }}</td>
            <td class='hide-when-small'>{{ trade.get_asset_class_display }}</td>
            <td class='hide-when-small'>{{ trade.number_of_shares }}</td>
            <td class='hide-when-small'>{{ trade.trade_date }}</td>
            <td>{{ trade.action }}</td>
            <td class='hide-when-small right-align'>
                  {{ trade.price_per_share_paid }}
            </td>
            <td class='right-align'>
              {% if trade.is_buy %}
                {% if trade.positive %}
                  <span class="badge badge-pill badge-success">
                {% else %}
                  <span class="badge badge-pill badge-danger">
                {% endif %}
                  {{ trade.get_current_price_str }}
                </span>
              {% endif %}
            </td>
            <td class='hide-when-small right-align'>
              {% if trade.is_buy %}
                {{ trade.get_total_value_str }}
              {% endif %}
            </td>
            <td class='hide-when-small'>{{ trade.currency }}</td>
            <td class='hide-when-small'>
              <a href="/trades/{{ trade.id }}/delete/" alt="Delete">
                <i class='fas fa-window-close' style='font-size:20px;color:red'></i>
              </a>
            </td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
  {% else %}
    <h1>You have no trade</h1>
    <div><a href="{% url "create" %}">Create new trade</a></div>
  {% endif %}
  <br>
{% endblock page-content %}
{% block footer %}
  {% include "trades/footer.html" %}
{% endblock footer %}
