{% extends "trades/base.html" %}
{% block title%}JustInvest{% endblock title %}
  {% block page-content %}
    <div>
      <a href="{% url "home" %}">Portfolio</a> >
      <a href="{% url "trades" %}">Trades</a>
    </div>

    <h2>Delete a trade : {{ trade.ticker }}</h2>

    <p>Are you sure you want to delete the trade : {{ trade.ticker }} : {{ trade.name }} (id = {{trade.id}})?</p>

    <form action="" method="POST">
      {% csrf_token %}
      <input type="submit" value="Yes, delete.">
    </form>

  <br>
{% endblock page-content %}
{% block footer %}
  {% include "trades/footer.html" %}
{% endblock footer %}
