{% extends "trades/base.html" %}
{% block title%}JustInvest{% endblock title %}
  {% block page-content %}
    <div>
      <a href="{% url "home" %}">Portfolio</a> >
      <a href="{% url "trades" %}">Trades</a> >
      Trade detail
    </div>
    <h2>Trade detail : {{trade.ticker}}</h2>
    <h3>{{trade.name}}</h3>
    <dl class="row">
      <dt class="col-sm-2">Asset class</dt>
      <dd class="col-sm-9">{{trade.asset_class}}</dd>

      <dt class="col-sm-2">Bought</dt>
      <dd class="col-sm-9">{{trade.trade_date}}</dd>

      <dt class="col-sm-2">Quantity</dt>
      <dd class="col-sm-9">{{trade.number_of_shares}}</dd>

      <dt class="col-sm-2">Price paid</dt>
      <dd class="col-sm-9">{{trade.currency}} {{trade.price_paid}}</dd>

      <dt class="col-sm-2">Current price</dt>
      <dd class="col-sm-9">{{trade.currency}} {{trade.current_price}}</dd>

      {% if trade.currency != 'CHF' %}
      <dt class="col-sm-2">Total in CHF</dt>
      <dd class="col-sm-9">{{total_value_in_chf}}</dd>
      {% endif %}
    </dl>
    <br>
    {% if error_message %}
      <div class="alert alert-danger" role="alert">
        {{ error_message }}
      </div>
      <br>
    {% else %}
      <div id="container" style="height: 700px; "></div>
    {% endif %}
    <script type="text/javascript">
      $.getJSON('/quote/{{trade.ticker}}.json', function (data) {

            // split the data set into ohlc and volume
            var ohlc = [],
                volume = [],
                dataLength = data.length,
                // set the allowed units for data grouping
                groupingUnits = [[
                    'week',                         // unit name
                    [1]                             // allowed multiples
                ], [
                    'month',
                    [1, 2, 3, 4, 6]
                ]],

                i = 0;

            for (i; i < dataLength; i += 1) {
                ohlc.push([
                    data[i][0], // the date
                    data[i][1], // open
                    data[i][2], // high
                    data[i][3], // low
                    data[i][4] // close
                ]);

                volume.push([
                    data[i][0], // the date
                    data[i][5] // the volume
                ]);
            }


            // create the chart
            Highcharts.stockChart('container', {

                rangeSelector: {
                    selected: 5
                },

                title: {
                    text: '{{trade.ticker}}'
                },

                yAxis: [{
                    labels: {
                        align: 'right',
                        x: -3
                    },
                    title: {
                        text: 'OHLC'
                    },
                    height: '60%',
                    lineWidth: 2,
                    resize: {
                        enabled: true
                    }
                }, {
                    labels: {
                        align: 'right',
                        x: -3
                    },
                    title: {
                        text: 'Volume'
                    },
                    top: '65%',
                    height: '35%',
                    offset: 0,
                    lineWidth: 2
                }],

                tooltip: {
                    split: true
                },

                series: [{
                    type: 'candlestick',
                    name: 'Values in {{trade.currency}}',
                    id: 'dataseries',
                    data: ohlc,
                    dataGrouping: {
                        units: groupingUnits
                    }
                }, {
                    type: 'column',
                    name: 'Volume',
                    data: volume,
                    yAxis: 1,
                    dataGrouping: {
                        units: groupingUnits
                    }
                },
                { // START OF 'BUY' FLAG -------------------------
                  type: 'flags',
                  data: [{
                      x: Date.UTC({{buy_year}}, {{buy_month}}, {{buy_day}}),
                      title: 'BUY',
                      text: 'BUY : {{trade.number_of_shares}} shares at {{trade.currency}} {{trade.price_paid}} per share'
                  }],
                  yAxis: 0,
                  color: 'black', // Highcharts.getOptions().colors[0], // same as onSeries
                  fillColor: 'green', // Highcharts.getOptions().colors[0],
                  width: 26,
                  style: { // text style
                      color: 'white'
                  },
                  states: {
                      hover: {
                          fillColor: 'green' // darker
                      }
                  }
              }// END OF 'BUY' FLAG -------------------------------
              ]
            });
        });

    </script>
{% endblock page-content %}
{% block footer %}
  {% include "trades/footer.html" %}
{% endblock footer %}
