/* HTML tags */
a { color: #333; }
/* Classes */
h1 a{
    color: #C25100;
}
.top-bottom-strip {
  background-color: #343a40;
}
.page-header {
  margin-top: 0;
  padding: 20px 20px 1px 40px;
}
.lsl-color {
  color: OrangeRed;
}
.trader-color {
  color: white;
}
#login-box {
  padding-bottom: 20px;
}
#page-content {
  background-color: white;
}
 h1 a, h2, h3{
    font-family: 'Russo One', sans-serif;
}
.title-font {
    font-family: 'Russo One', sans-serif;
}
#page-content {
    padding-left: 60px;
    padding-right: 60px;
}
#username-logout {
  text-align: right;
}
#footer {
  margin-top: 20px;
  text-align: center;
  height: 50px;
  bottom: 0;
}
#footer p {
  color: white;
}
.right-align {
    text-align: right
}
div.narrow-centered {
  width:250px;
  margin: auto;
}
div.centered {
  margin: auto;
}
/* .footer { margin-top: 1em; color: #333; }
.trades-table { border-spacing: 0; padding-top: 1em; }
.trades-table thead { background-color: #333; color: #fff;
    padding: 2em; font-size: 1.4em; }
.trades-table td { padding: 1em; vertical-align: top; }
.light-gray { background-color: #eee; }
.white { background-color: #fff; }
.code { font-size: 1.1em; font-weight: bolder; color: #333; }
.home-option { padding: .6em 0; }

.success, .errorlist {font-size: 1.2em; font-weight: bold; }
.success {color: #25B725; }
.errorlist {color: #B12B2B; } */
